@import url("https://static.colostate.edu/fonts/proxima-nova/proxima.css");
@import url("https://static.colostate.edu/fonts/factoria/factoria.css");

body{
	font-family: 'prox-regular', sans-serif;
	background-color: #f4f4f5;
	text-align: center;
}

h1, h2, h3,h4,h5, h6{
	font-family: 'factoria-book', sans-serif;
}

img{
	float:left;
}
.topnav {
    background-color: #2f67c0ea;
    overflow: hidden;
}
.logo h3{
	float:left;
	color: #E8EEF1;
	text-align: center;
	margin: 0px;
	padding: 36px;
	text-decoration: none;
	font-size: 24px;
}
.topnav a {
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 40px;
	text-decoration: none;
	font-size: 24px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
main {
	margin: auto;
	width: 99%;
}
header{
	text-align: center;
}
footer{
	background-color: #838282;
	position: fixed;
	width: 99%;
	bottom: 0;
	height: 80px;
	text-align: center;
	margin: 1px;
}
