@import url("https://static.colostate.edu/fonts/proxima-nova/proxima.css");
@import url("https://static.colostate.edu/fonts/factoria/factoria.css");

body{
	font-family: 'prox-regular', sans-serif;
}

h1, h2, h3,h4,h5, h6{
	font-family: 'factoria-book', sans-serif;
}

li {
	list-style-type: none;
	display: inline-block;
}

li a {
	text-decoration: none;
	text-align: center;
	font-size: 20px;
	padding: 20px 30px;
	color: #F7F7F2;
	float: left;
    font-size: 25px;
}

li a:hover {
	background-color: #06070E;
}

ul {
	background-color: #2703A6;
	display: flex;
}

a {
  text-decoration:none;
}

a:hover {
	background-color: #F7F7F2
}

main {
	margin: auto;
	width: 99%;
}
footer{
	width: 99%;
	background-color: grey;
	position: fixed;
	bottom: 0;
	height: 80px;
	text-align: center;
}

.column {
  float: left;
  width: 30%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  text-align:center;
}

.container {
  padding: 16px;
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
