@import url("https://static.colostate.edu/fonts/proxima-nova/proxima.css");
@import url("https://static.colostate.edu/fonts/factoria/factoria.css");

body{
	font-family: 'prox-regular', sans-serif;
	 background-color: #f4f4f5;
	text-align: center;
}

h1, h2, h3,h4,h5, h6{
	font-family: 'factoria-book', sans-serif;
}

.image{
	float:left;
}
.container img{
	float: center;
}
.topnav {
    background-color: #2f67c0ea;
    overflow: hidden;
}
.logo h3{
	float:left;
	color: #E8EEF1;
	text-align: center;
	margin: 0px;
	padding: 36px;
	text-decoration: none;
	font-size: 24px;
}
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 40px;
  text-decoration: none;
  font-size: 20px;

}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
img{
	float:center;
}
main {
	margin: auto;
	width: 99%;
}
header{
	text-align: center;
}
footer{
	width: 99%;
	background-color: grey;
	position: fixed;
	bottom: 0;
	height: 80px;
	text-align: center;
}
.column {
  float: left;
  width: 32%;
  margin-bottom: 16px;
  padding: 0 8px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  text-align:center;
  background-color:white;
}
.container {
  padding: 16px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
 }
