li {
	list-style-type: none;
	display: inline-block;
}

li a {
	text-decoration: none;
	padding: 10px 20px;
	color: #A9A9A9;
}

li a:hover {
	background-color: #2703A6;
}

ul {
	background-color: #F2B705;
	height: 30px;
}

a {
      text-decoration:none;
}

a:hover {
	background-color: #F7F7F2
}

main {
	width: 800px;
	margin: auto;
}

