li {
	list-style-type: none;
	display: inline-block;
}

li a {
	text-decoration: none;
	padding: 10px 20px;
	color: #F7F7F2;
}

li a:hover {
	background-color: #06070E;
}

ul {
	background-color: #2703A6;
	height: 30px;
	padding-top: 15px;
    padding-bottom: 5px;
}

a {
      text-decoration:none;
}

a:hover {
	background-color: #F7F7F2
}

main {
	width: 800px;
	margin: auto;
}
footer{
	width: 99%;
	background-color: grey;
	position: fixed;
	bottom: 0;
	height: 80px;
	text-align: center;
}
